@font-face {
    font-family: 'Caesar Dressing', cursive;
    src: url('https://fonts.googleapis.com/css?family=Caesar+Dressing');
}

@font-face {
    font-family: 'Josefin Slab', serif;
    src: url('https://fonts.googleapis.com/css?family=Josefin+Slab');
}

body {
margin: 0;
background-color: #29a329; 
}

#header {
text-align: center;
-moz-transform: skewX(-20deg);
-webkit-transform: skewX(-20deg);
transform: skewX(-20deg);
border-bottom: 1px solid black;
background-color: #999999;
width: 2280px;
margin-left: -70px;
}

ul {
list-style-type: none;
margin-top: 0px;
margin-left: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
border: 2px solid orange;
-webkit-animation-name: example; /* Chrome, Safari, Opera */
-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
animation-name: example;
animation-duration: 4s;
}

li a {
display: block;
color: #000;
padding: 8px 0 8px 16px;
text-decoration: none;
font-size: 35px;
font-family: 'Caesar Dressing', cursive;
border: 2px solid orange;
height: 150px;
-webkit-animation-name: activation; /* Chrome, Safari, Opera */
-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
animation-name: activation;
animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes activation {
    from {background-color: white;}
    to {background-color: grey;}
}

/* Standard syntax */
@keyframes activation {
    from {background-color: white;}
    to {background-color: grey;}
}

#wrapper{
width: 2200px;
margin-left: auto;
margin-right: auto;
margin-top: 75px;
padding-bottom: 95px;
}

div.img {
margin-left: 50px;
padding: 10px;
height: auto;
width: auto;
float: left;
text-align: center;
}

div.img img {
display: inline;
margin-left: 50px;
}

.description-top{
margin-left: 465px;
margin-right: auto;
margin-bottom: 105px;
margin-top: -1310px;
padding: 5px;
border: 2px solid orange;
height: auto;
width: 1200px;
float: center;
text-align: center;
font-size: 25px;
font-family: 'Josefin Slab', serif;
line-height: 45px;
background-color: white;
}

.description1{
margin-top: 50px;
margin-left: 75px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: -5px;
padding-right: -5px;
height: auto;
width: 425px;
float: left;
text-align: center;
line-height: 45px;
background-color: #29a329;
}

.description2{
margin-top: 50px;
margin-left: 117px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: -5px;
padding-right: -5px;
height: auto;
width: 425px;
float: left;
text-align: center;
line-height: 45px;
background-color: #29a329;
}

.description3{
margin-top: -101px;
margin-left: 1134px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: -5px;
padding-right: -5px;
height: auto;
width: 425px;
float: left;
text-align: center;
line-height: 45px;
background-color: #29a329;
}

.description4{
margin-top: -20px;
margin-left: 95px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
border: 2px solid orange;
height: auto;
width: 425px;
float: left;
text-align: center;
font-size: 25px;
font-family: 'Josefin Slab', serif;
line-height: 45px;
background-color: white;
}

.description5{
margin-top: -20px;
margin-left: 50px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
border: 2px solid orange;
height: auto;
width: 425px;
float: left;
text-align: center;
font-size: 25px;
font-family: 'Josefin Slab', serif;
line-height: 45px;
background-color: white;
}

.description6{
margin-top: -20px;
margin-left: 50px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 6px;
padding-right: 6px;
border: 2px solid orange;
height: auto;
width: 425px;
float: left;
text-align: center;
font-size: 25px;
font-family: 'Josefin Slab', serif;
line-height: 45px;
background-color: white;
}

div.scroll1 {
width: 1699px;
height: 375px;
overflow: scroll;
margin-left: 204px;
background-color: #29a329;
}

div.scroll2 {
width: 1699px;
height: 471px;
overflow: scroll;
margin-left: 204px;
background-color: #0099cc;
}

#footer {
background-color: #999999;
border-top: 1px solid black;
margin-left: 0px;
margin-right: -161px;
margin-top: -95px;
padding-bottom: 22px;
padding-left: 15px;
font-size: 25px;
font-family: 'Caesar Dressing', cursive;
float: left;
width: 2139px;
}